.contact__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
}

.btn {
    /* margin: 0 auto; */
    display: block;
    padding: 8px 12px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover {
    color: rgb(241, 241, 241);
    background-color: rgb(66, 66, 66);
    transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.phone {
    margin-left: auto;
    margin-right: 20px;
}