.form {
    /* width: 450px; */
    /* padding: 15px; */
    /* border: 1px solid gray; */
    /* display: flex; */
    /* flex-direction: column; */
    text-align: center;
    margin-bottom: 20px;
}

.form__btn {
    margin: 0 auto;
    display: block;
    padding: 8px 12px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.form__btn:hover {
    color: rgb(241, 241, 241);
    background-color: rgb(66, 66, 66);
    transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.form__input:hover,
.form__input:focus {
    box-shadow: 0px 0px 9px 0px rgba(63, 63, 63, 0.75);
    transition: box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}